/*Elimino estilos por defecto que interfieren con el diseño*/
* {
  margin: 0px!important;
  padding: 0px!important;
  box-sizing: border-box!important;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Estilos*/

body {
  min-height: 1000px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 110px 3fr 3fr 220px;
  grid-template-areas:
  "header header header header"
  "main main main main"
  "main main main main"
  "footer footer footer footer";
  /* background-image: url("../images/wallpaper-gif.gif"); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
}


/*grid areas de estructura*/
header {
  /* grid-area: header; */
  grid-column: 1/5;
  grid-row: 1/2;
}
main {
  /* grid-area: main; */
  grid-column: 1/5;
  grid-row: 2/4;
}
footer {
  /* grid-area: footer; */
  grid-column: 1/5;
  grid-row: 4/5;
}

/*Clases*/
/* .h-100 { */
  /* height: 100%; */
/* } */
.main-header {
  display: flex;
}

.main-header__nav {
  display: inline-block;
  position: relative;
  left: 1%;
  align-self: flex-end;
}

.main-header__ul{
  padding: 0;
  margin: 0;
}
.main-header__ul li{
  display: inline-block;
}

.main-header__img {
  height: 100px;
  width: 100px;
  /* vertical-align: bottom; */
}

.main-footer div{
  height: 100%
}

.my-container {
  color: #999999!important;
  border-color: #ec1158!important;
  border-style: solid!important;
  border-width: 2px!important;
  background-color: rgba(0, 0, 0, 0.500)!important;
  /*border-radius: 10px;*/
  /* padding: 5px; */
  /* margin: 2px; */
  /* overflow: auto; */
}

/*Multimedia*/
/* .videos__section { */
  /* min-width: 50%; Deprecado*/
/* } */

.videos__section div {
  border-style: dotted;
  border-width: 2px;
  border-color: #999999;
  padding: 5px;
}

.videos__section div iframe {
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

/* .multimedia__section { */
  /* display: flex; Deprecado*/
  /* height: 100%; Deprecado*/
/* } */

.images__section img {
  max-width: 100%;
}

/*Contacto*/
.contact__form label{
  width: 100px;
}
.contact__form li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 47%;
}

.contact__form .textarea__li {
  width: 65%;
  display: block;
}

.contact__form .textarea__li textarea {
  border: none;
  width: 100%;
  padding: 0px;
  min-height: 100px;
}

.contact__form .email__li {
  width: 98%;
}

.contact__form .email__li input {
 width: 50%;
}

/*Historias*/
.historias__section article h3 {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}

.historias__section article img {
  width: 200px; 
  height: 150px;
}

.historias__section article h3 a {
  color: currentColor;
}

/*Historia*/
.historia__section img {
  max-height: 500px;
  max-width: 100%;
}

.historia__section h2, .historia__section h1 {
  color: #ffe500;
} 


/*Modificadores de clases*/
.my-container--h_100 {
  height: 100px;
}
.my-container--mb_5 {
  margin-bottom: 5px;
}
.my-container--mh_1000 {
  min-height: 1000px;
}
.my-container--w_80-percent {
  width: 80%;
}

/*Queries*/
/*Smart phone*/
/* @media (min-width: 0px) { */
/* } */

/*Desktop Responsive*/
 /* @media (min-width: 420px) { */
/* } */